.App {
  margin: 20px;
  display: grid;
  column-gap: 2em;
  row-gap: 2em;
}

.vehicleDetails {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "side header header header "
    "side content content content"
    "side footer footer footer";
}

.getQuote {
  grid-template-columns: 1.8fr 1fr 4fr;
  grid-template-areas:
    "side header header"
    "side filter content"
    "side filter banner";
}

@media (max-width: 700px) {
  .vehicleDetails {
    grid-template-columns: 1fr;

    grid-template-areas:
      "header"
      "side"
      "content"
      "footer";
  }

  .getQuote {
    grid-template-columns: 1fr;

    grid-template-areas:
      "header"
      "side"
      "filter"
      "content"
      "banner";
  }
}

body {
  background-color: #f4f9fd;
  font-family: "Encode Sans", sans-serif;
  color: #0a1629;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.header {
  grid-area: header;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1em;
  align-self: start;
}

.profile-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  width: 182px;
  border-radius: 14px;
  box-shadow: 0px 6px 58px 0px #c4cbd61a;
  cursor: pointer;
}
.profile-bar img {
  width: 30px;
  border-radius: 50%;
}

.profile-bar i {
  font-size: 15px;
}

.content {
  grid-area: content;
  width: 100%;
}
.footer {
  grid-area: footer;
}
.side-section {
  grid-area: side;
}

button {
  border: none;
  outline: none;
  background-color: #0058dc;
  padding: 0.8em 1.8em;
  color: white;
  border-radius: 14px;
  font-size: inherit;
  box-shadow: 0px 6px 12px 0px #3f8cff43;
  cursor: pointer;
}
button:hover {
  background-color: #1e75f6;
}

button i {
  font-size: 15px;
  margin-left: 1em;
}

button:active {
  transform: translateY(3px);
}
/*side-section*/
.side-section {
  background-color: #0058dc;
  margin: 0 auto;
  width: 90%;
  border-radius: 24px;
}

.side-intro {
  width: 65%;
  margin: 2em auto;
}

.side-intro img {
  margin-bottom: 2em;
}

.step {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: space-between;
  color: white;
  margin: 0 auto 28px auto;
}

.step-name {
  margin-right: auto;
  margin-left: 0.8em;
  font-size: 16px;
  font-weight: 400;
  width: 70%;
}

.step div {
  min-width: 20px;
  height: 20px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: #1e75f6;
  position: relative;
  display: flex;
}

.fa-check-circle {
  animation: pop 0.2s ease both;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.step div::after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: white;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 150%;
}
.step img {
  width: 25px;
  cursor: pointer;
}

.step:last-child div::after {
  content: "";
  width: unset;
  height: unset;
}

/* The Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.support-box {
  background-color: #3f8cff1e;
  border-radius: 24px;
  text-align: center;
  align-self: flex-end;
  width: 18%;
  padding: 0.2em;
}

.support-box button {
  width: 85%;
  margin-bottom: 20px;
}

.support-box img {
  width: 70%;
  margin-bottom: 20px;
  margin-top: -30px;
}

.guide-box {
  display: flex;
  background-color: white;
  width: 78%;
  padding: 2em;
  border-radius: 24px;
  font-size: 0.8em;
}

.guide-text {
  width: 60%;
  color: #0a1629;
}
.guide-text p,
.guide-text ul {
  opacity: 0.7;
}
.guide-title {
  font-size: 1.2em;
  font-weight: 700;
  color: #0058dc;
  margin-bottom: 1em;
  opacity: 1;
}

.guide-text ul li {
  margin: 0.5em 0;
}

.guide-box img {
  width: 40%;
  height: 40%;
  margin-top: auto;
}
@media (max-width: 900px) {
  .footer,
  .guide-box {
    flex-direction: column;
  }

  .footer > div,
  .guide-box > div,
  .guide-box > img {
    width: 90%;
    margin: 0 auto;
  }

  .support-box {
    width: 60% !important;
    order: 2;
    margin-top: 3em !important;
  }
}
/* The Content */

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
  border-radius: 24px;
  min-height: 550px;
}

.content-footer {
  margin-top: auto;
  padding: 2em 1em;
  border-top: solid 1px #e4e6e8;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-footer a {
  color: #0058dc;
  text-decoration: none;
}
.content-footer a:hover {
  color: #1a67db;
  text-decoration: underline;
}

.content-footer button {
  margin-left: auto;
}

@media (max-width: 500px) {
  .content-footer button {
    padding: 0.6em 0.9em;
  }
}
/* Step 1 */

.step-component {
  text-align: center;
  padding: 2em 0.5em;
}

.counter {
  color: #3f8cff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  margin: 1em 0;
}

.step-title {
  font-weight: 700;
  font-family: 1.5em;
  margin: 1em 0;
}
input[type="text"] {
  font-size: 1.5em;
  border: none;
  outline: none;
  border: 1px solid #d8e0f0;
  box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.222055);
  border-radius: 14px;
  padding: 0.4em;
}

@media (max-width: 700px) {
  input[type="text"] {
    font-size: 1em;
    padding: 5px !important;
  }

  .step1 button {
    margin-left: 0 !important;
    margin-top: 1em;
    padding: 1em 2em !important;
  }
}

.step1 input[type="text"] {
  width: 100%;
  max-width: 500px;
}

.step1 button {
  background: #3f8cff;
  box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.263686);
  border-radius: 14px;
  padding: 0.5em 1em;
  line-height: 100%;
  margin-left: -55px;
}

.step1 button img {
  transform: translateY(1px);
}

.list {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 2em auto;
  justify-content: center;
  flex-wrap: wrap;
}

.list li {
  padding: 0.5em 2em;
  border-radius: 5px;
  margin: 1em;
  font-weight: 400;
  cursor: pointer;
  border: solid 2px transparent;
  box-sizing: border-box;
}

.city-list > li {
  background-color: #f4f9fd;
}

.model-list {
  width: unset !important;
}
.model-list li {
  border: solid 1px #d8e0f0;
}

.variant-list {
  font-size: 0.8em;
  width: unset;
}

.variant-list li {
  border: solid 1px #d8e0f0;
  padding: 0.5em 1em !important;
}

.selected-city {
  border: solid 2px #0058dc !important;
}

.step2 input[type="text"] {
  width: 100%;
  margin-bottom: 1em;
  max-width: 700px;
}

.manufacturer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.manufacturer-list div {
  background-color: white;
  width: 15%;
  min-width: 100px;
  font-size: 0.7em;
  padding: 0.5em 0;
  color: #848484;
  border: 1px solid #d8e0f0;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.222055);
  border-radius: 14px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.manufacturer-list > div:hover {
  background-color: #3f8cff;
  color: white;
}

.manufacturer-list p {
  pointer-events: none;
  width: 100%;
}

.manufacturer-list img {
  width: 50%;
  height: 35px;
  object-fit: contain;
  margin-bottom: 1em;
}

@media (max-width: 400px) {
  .manufacturer-list > div {
    min-width: 75px;
    font-size: 0.5em;
  }
  .manufacturer-list > imh {
    margin-bottom: 0.5em;
  }
}

.step-value {
  display: block;
  flex-basis: 100%;
  margin: 0 auto;
  font-size: 0.9em;
  flex-basis: 70%;
  height: 0;
}
@media (max-width: 700px) {
  .step-name {
    font-size: 15px;
  }
  .step-value {
    font-size: 13px;
    margin-left: 35px;
  }
}

.step6 {
  padding: 0;
}

.content:has(div) {
  background-color: unset !important;
}

.inputs-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1.8fr 1fr;
}

@media (max-width: 500px) {
  .inputs-container {
    grid-template-columns: 1fr;
  }
}

.inputs-box input[type="text"] {
  font-size: 1em;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 500px;
}

.inputs-box:nth-child(3) {
  grid-column: 1/-1;
}

.inputs-box {
  background-color: white;
  border-radius: 15px;
  padding: 1em;
  text-align: start;
}

.inputs-box > h4 {
  color: #7d8592;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.inputs-box label {
  margin-right: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
}

.inputs-box label input {
  margin-right: 0.5em;
}

input[type="checkbox"] {
  position: relative;
  width: 35px;
  height: 19px;
  appearance: none;
  outline: none;
  border: none;
  background-color: #ced5e0;
  border-radius: 20px;
  transition: all 0.2s ease;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;

  transition: 0.2s;
}

input[type="checkbox"]:checked::after {
  left: 18px;
}

input[type="checkbox"]:checked {
  background-color: #3f8cff;
}

.side-content {
  padding: 1em 1.5em;
  margin-bottom: 3em;
}

.car-info-box {
  border-bottom: solid 2px #e4e6e8;
  padding-bottom: 2em;
  margin-bottom: 2em;
  font-size: 0.8em;
}

.car-info-box h4 {
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

.car-info-box p {
  margin-bottom: 0.3em;
  font-weight: 400;
  white-space: nowrap;
}

.blue {
  color: #1a67db;
}
.bold {
  font-weight: bold;
}

.edit-btn {
  width: 30px;
  float: right;
  margin-left: 5px;
  margin-top: -8px;
  cursor: pointer;
}

/* Get Quote Page */

.filters-container {
  grid-area: filter;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.banner {
  grid-area: banner;
  align-self: end;
}

.banner .guide-box {
  width: 100%;
}

.get-quote-content {
  grid-area: content;
  width: 100%;
}

/* Card Styles */

.card {
  background-color: white;
  padding: 0.2em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  margin-bottom: 2em;
}

.card button {
  border-radius: 10px;
  background-color: #0d3776;
}

.card-price,
.card-addons p {
  font-weight: bold;
}

.card-price span {
  display: block;
}

.card img {
  width: 24%;
}

.card-addons label {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.card-addons label input {
  margin-right: 1em;
}

@media (max-width: 800px) {
  .card {
    flex-direction: column;
    text-align: center;
    height: 300px;
    padding: 1em 0;
  }
}

/* Select box styles */

.select {
  position: relative;
  min-width: 200px;
}

.select select:required:invalid {
  color: #5a667f;
}

.select select {
  -webkit-appearance: none;
  padding: 7px 45px 7px 15px;
  width: 100%;
  margin-bottom: 2em;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9em;
  transition: all 150ms ease;
  border: none;
  outline: none;
}

.select i {
  margin: 0;
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
}

.zero-dep {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.filters-container button {
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .filters-container button {
    justify-content: center;
  }
  .filters-container button i {
    margin-right: 1em;
  }
}

.city-list {
  position: relative;
  align-items: start;
}

.city-list > li > ul {
  list-style: none;
  background-color: #1e75f6;
  color: white;
  position: absolute;
  display: flex;
  margin-top: 1em;
  left: 0;
  width: 100%;
  display: none;
}

.seen-flex {
  display: flex !important;
}

/* Covers */

.covers-pop {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  font-size: 0.8em;
  font-weight: bold;
  padding: 2em 1em;
  border-radius: 15px;
  margin-top: 1em;
  transition: all 0.5s;
}

.covers-pop label {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  text-align: start;
}

.covers-pop input[type="checkbox"] {
  appearance: auto !important;
  width: 15px;
  height: 15px;
  margin-right: 0.5em;
  border: solid 3px #0a1629;
}
.covers-pop input[type="checkbox"]::after {
  width: 0;
  height: 0;
}

.covers-pop input[type="checkbox"]:checked::after {
  width: 0;
  height: 0;
}

.close-pop {
  background-color: #f4f9fd;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: lighter;
  cursor: pointer;
}

.close-pop:hover {
  background-color: #9ca8b4;
}
.close-pop i {
  margin: 0 auto;
  margin-top: 50%;
  transform: translateY(-50%);
}

.covers-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.covers-footer button {
  clip-path: polygon(100% 10%, 100% 31%, 98% 76%, -4% 97%, 0 66%, 0 10%);
  border-radius: 50px;
  width: 9em;
  padding: 0;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 0.9em;
  text-align: start;
}

.pop-seen {
  opacity: 1;
}
